.c-toast-body .btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
  }
  
  .c-toast-body .btn-secondary {
    color: #212529 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
  }
  